{% extends 'base.html.twig' %}

{% block content %}

<h2>L’histoire de la LSF</h2><br>

<p>C’est l’abbé Charles Michel de l’Epée (1712-1789) qui fonda au 18ème siècle la première école publique destinée aux personnes sourdes. Son système éducatif va se fonder sur les signes naturels qu’il a pu observer chez les sourds qu’il rencontre, les signes méthodiques et la dactylologie (langage gestuel) dont il se sert pour l’enseignement du français. Il a initié la recherche sur un langage de signes méthodiques utilisables par les personnes atteintes de surdité, afin de lier ces signes avec le français écrit, commettant peut-être l’erreur, comme l’a souligné Ferdinand Berthier, de vouloir assimiler la structure syntaxique du français à celle de la gestuelle des sourds. Le regroupement des élèves sourds dans son institution, après sa mort, sentant le besoin de communiquer entre eux, a eu pour effet de favoriser et perfectionner la langue des signes française (LSF).<p>

<h2>La grammaire de la LSF</h2><br>

<p>Il existe des signes qui préfigurent une expression idiomatique du français et traduisent une phrase entière en un seul geste.

Les temps du verbe n’existent pas, en LSF on précise seulement le moment où se déroule l’action (avant ou hier pour le passé, aujourd’hui pour le présent, après ou demain pour le futur). Mais le temps est donné par la position du corps et en particulier de l’épaule de la main maîtresse. Le positionnement des signes par rapport au corps (plus ou moins éloignés) donnent aussi l’idée du temps (passé, présent, futur).
La date exacte est ensuite posée par le signeur si nécessaire (il y a deux ans, hier, tout à l’heure, demain, dans un mois, etc). L’ordre des signes est inversé. Le verbe se met généralement en fin de phrase. En premier on met toujours les compléments circonstanciels de temps,de lieu. C’est une logique très visuelle. Enfin, comme nous l’avons déjà mentionné, le corps et les mimiques du visage sont très importantes et renseignent l’interlocuteur sur le type de la phrase.
L’alphabet dactylographique consiste à représenter chaque lettre de l’alphabet par une position définie des doigts de la main (droite pour les droitiers et gauche pour les gauchers). Cet alphabet ne sert qu’à épeler des mots inconnus (noms de villes, prénoms, etc). Le prénom des personnes est toujours épelé avec la dactylologie (l’alphabet de sourds que l’on signe avec la main) Mais en fait, en entrant dans une communauté sourde, il est d’usage de recevoir un surnom, un prénom qui se fait en un seul geste. Ce nouveau nom s’attribue généralement en fonction d’une caractéristique morale ou physique qui semble la plus importante !</p>

<h2>Quelques conseils pour la communication avec une personne malentendante</h2><br>

<p>Si vous ne connaissez pas la langue des signes, la communication avec un sourd est tout a fait possible car les sourds lisent aussi souvent sur les lèvres. C’est la lecture labiale.

Parlez à la personne bien en face. Sachez que les moustaches, un stylo dans la bouche ou une cigarette gêne la bonne compréhension de la lecture labiale.
Ne vous retournez pas ou ne baissez pas la tête lorsque vous parlez afin que votre interlocuteur sourd ne perde un morceau de la discussion.
Si vous changez de sujet prévenez votre interlocuteur. Comme on ne peut lire sur les lèvres que 30% des mots, les 70% restant sont des hypothèses.
Evitez les phrases longues. Préférez des phrases simples et courtes qui facilitent la compréhension et demandent moins de concentration visuelle au sourd.
En cas d’incompréhension, répétez votre phrase en articulant mieux, il n’est pas utile de la prononcer plus doucement c’est l’articulation qui compte.
Ne la répétez pas en criant. De plus crier donne des mimiques faciales proches de celles de l’énervement et de l’agacement.</p>

<h2>Où et comment apprendre la LSF ?</h2><br>

<p>Les cours :<br>
Le mieux est de se rendre dans une association pour y prendre des cours de groupe. Certaines universités aussi proposent des cours. Quelques adresses en cliquant ici.</p>

Les livres :<br>
<p>Plusieurs dictionnaires existent, ce qui peut vous aider à acquérir du vocabulaire.</p>

<h1>But de notre site</h1><br>

<p>Notre site web éducatif permet d'introduire les personnes voulant apprendre et communiquer en langue des signes et sensibiliser les personnes à la contrainte de devoir apprendre une nouvelle méthode de communication. Chaque personne utilisant la langue des signes ou non peut poster une vidéo ou une photo permettant d'expliquer un mot, et pouvoir l'utiliser dans la vie courante. Notre site est un tremplin pour transmettre de nouvelles connaissances en langue des signes.</p>


{% endblock %}