{% extends 'base.html.twig' %}

{% block content %}

<h1>Conditions Générales d’Utilisation</h1>



<h3>ARTICLE 1 : Objet</h3>

<p>Les présentes « conditions générales d’utilisation » ont pour objet l’encadrement juridique des modalités de mise à disposition des services du site www.ParlonsSansBruit.fr et leur utilisation par « l’Utilisateur ».
VOTRE ACCÈS OU VOTRE UTILISATION DU SITE (QUE VOUS SOYEZ UN UTILISATEUR INSCRIT OU NON-INSCRIT SUR LE SITE), EN QUALITÉ DE PARTICULIER OU DE PROFESSIONNEL, EMPORTE VOTRE ACCEPTATION EXPRESSE ET SANS RÉSERVE DES CGU Y COMPRIS DES STIPULATIONS DE TOUTES NOTICES APPLICABLES AU SITE, INCLUANT NOTAMMENT LA CHARTE SUR LES DONNÉES PERSONNELLES. SI VOUS ACCÉDEZ OU UTILISEZ LE SITE EN QUALITÉ DE PROFESSIONNEL, VOUS GARANTISSEZ À SIGNES DE SENS QUE VOUS DÉTENEZ L’INTÉGRALITÉ DES DROITS, DES AUTORISATIONS ET DES POUVOIRS NÉCESSAIRES POUR ACCEPTER LES CGU AU NOM DE LA SOCIÉTÉ, ASSOCIATION, PARTENAIRE OU TOUT AUTRE ENTITÉ ("ENTITÉ") POUR LAQUELLE VOUS UTILISEZ OU ACCÉDEZ AU SITE ET/OU CRÉEZ UN COMPTE SELON LES MODALITÉS CI-APRÈS.
Les conditions générales d’utilisation doivent être acceptées par tout Utilisateur souhaitant accéder au site. Elles constituent le contrat entre le site et l’Utilisateur. L’accès au site par l’Utilisateur signifie son acceptation des présentes conditions générales d’utilisation.<p>

<h3>ARTICLE 2 : Mentions légales</h3>

<p>Parlons Sans Bruit gère le présent site et fournit les produits dont vous vous portez acquéreur ou les services dont vous êtes utilisateur.</p>

<h3>ARTICLE 3 : Définitions</h3>

<p>La présente clause a pour objet de définir les différents termes essentiels du contrat :
•	Utilisateur : ce terme désigne toute personne qui utilise le site ou l’un des services proposés par le site.
•	Contenu utilisateur : ce sont les données transmises par l’Utilisateur au sein du site. Sur Elix, le contenu utilisateur désigne les vidéos publiées qui alimentent les contenus du site. 
•	Membre : l’Utilisateur devient membre lorsqu’il est identifié sur le site, c’est-à-dire qu’il détient un compte utilisateur qui lui permet de publier du contenu sur le site. Seul un membre identifié peut ajouter du contenu utilisateur. 
•	Identifiant et mot de passe : c’est l’ensemble des informations nécessaires à l’identification d’un Utilisateur sur le site. L’identifiant et le mot de passe permettent à l’Utilisateur d’accéder à des services réservés aux membres du site. Le mot de passe est confidentiel.</p>

<h3>ARTICLE 4 : accès aux services</h3>

<p>Le site permet à tout Utilisateur un accès gratuit aux services suivants :
•	Définitions écrites ;
•	Vidéos de signes ;
•	Vidéos de définitions ;
•	Vidéothèque.
Le site permet à l’Utilisateur membre un accès gratuit aux services supplémentaires suivants :
•	Mises en favoris ;
•	Publication de vidéos.
Le site est accessible gratuitement en tout lieu à tout Utilisateur ayant un accès à Internet. Tous les frais supportés par l’Utilisateur pour accéder au service (matériel informatique, logiciels, connexion Internet, etc.) sont à sa charge.
L’Utilisateur non membre n’a pas accès aux services réservés aux membres. Pour cela, il doit s’identifier à l’aide de son identifiant et de son mot de passe.
Le site met en œuvre tous les moyens mis à sa disposition pour assurer un accès de qualité à ses services. L’obligation étant de moyens, le site ne s’engage pas à atteindre ce résultat.
Tout événement dû à un cas de force majeure ayant pour conséquence un dysfonctionnement du réseau ou du serveur n’engage pas la responsabilité du site www.elix-lsf.fr.
L’accès aux services du site peut à tout moment faire l’objet d’une interruption, d’une suspension, d’une modification sans préavis pour une maintenance ou pour tout autre cas. L’Utilisateur s’oblige à ne réclamer aucune indemnisation suite à l’interruption, à la suspension ou à la modification du présent contrat.
L’Utilisateur a la possibilité de contacter le site par messagerie électronique à l’adresse contact@parlonssansbruit.fr.</p>

<h3>ARTICLE 5 : Propriété intellectuelle</h3>

<p>Tous les éléments du site Internet www.elix-lsf.fr (notamment les textes, graphismes, photos) sont la propriété exclusive de l’association, sauf indication différente. Aucune reproduction, même partielle, autres que celles prévues à l’article L 122-5 du code de la propriété intellectuelle, ne peut être faite de ce site sans son autorisation expresse.</p>

<h3>ARTICLE 6 : Politique de Confidentialité</h3>

<p>Parlons Sans Bruit s’engage, dans le cadre de ses activités et conformément à la législation en vigueur en France et en Europe, à assurer la protection, la confidentialité et la sécurité des données à caractère personnel des utilisateurs de ses services ou de ses acheteurs de produits, ainsi qu’à respecter leur vie privée.
POURQUOI SIGNES DE SENS TRAITE VOS DONNEES ?
Signes de sens ne traite les données personnelles que pour les finalités déterminées, explicites et légitimes. Signes de sens ne traite pas ces données de manière incompatible avec ces finalités. A cet effet, les finalités poursuivies par Signes de sens sont les suivantes :
•	Gérer l’identité du client ;
•	Gérer la commande ;
•	Facturer et encaisser les paiements ;
•	Traiter les réclamations ;
•	Gérer les demandes relatives aux droits des personnes concernées ;
•	Communiquer sur les projets et les évènements de l’association par ses emailings ;
•	Proposer des animations commerciales et promotionnelles ou des jeux concours par ses emailings ;
•	Proposer des produits ou services complémentaires liés à vos centres d’intérêt par ses emailings ;
•	Organiser des sondages par ses emailings.
Vos données sont conservées pour la durée nécessaire à l’accomplissement des finalités mentionnées ci-dessus. 
QUELLES SONT LES DONNEES TRAITEES ?
Selon les cas, Signes de sens traite vos données personnelles, directement collectées auprès de vous ou résultant d’une commande ou de l’utilisation d’un service. Signes de sens n’est jamais destinataire de données collectées par un tiers.
Signes de sens ne traite une donnée ou une catégorie de données que si elle est strictement nécessaire à la finalité poursuivie. Signes de sens traite les catégories de données suivantes :
•	Données d’identification : nom, prénom ;
•	Données de contact : adresse postale, email, numéro de téléphone, etc. ;
•	Caractéristiques personnelles : centre d’intérêt lié aux différentes formes de handicap et à nos activités ;
•	Produits et services détenus ou utilisés.
QUELS SONT LES DESTINATAIRES DE VOS DONNEES ?
Les données collectées sont destinées aux services internes de Signes de sens. En aucun cas ces données ne sont destinées à des sous-traitants, des partenaires ou des tiers.
Les données collectées ne sont pas traitées hors de l’Union Européenne.
QUELS SONT VOS DROITS ?
Conformément aux dispositions de la loi n° 78-17 du 6 janvier 1978 modifiée en 2004 relative à l’informatique, aux fichiers et aux libertés, vous pouvez obtenir communication et, le cas échéant, rectification ou suppression des informations vous concernant
COMMENT EXERCER VOS DROITS ?
Vous pouvez exercer vos droits à tout moment en vous adressant :
> Par voie postale :
Signes de sens 30 bd Jean-Baptiste Lebas 59000 Lille
> Ou par voie électronique :
contact@elix-lsf.fr
> Ou par Téléphone :
03 20 06 00 45 (France), du lundi au vendredi de 9h30 à 17h30
COMMENT VOS DONNEES SONT-ELLES SECURISEES ?
Signes de sens s’assure que vos données sont traitées en toute sécurité et confidentialité, y compris quand certaines opérations sont réalisées par des sous-traitants ; l’ensemble de nos hébergeurs informatiques sont également conformes à la Réglementation sur la protection des données. 
MODIFICATION DE LA POLITIQUE DE PROTECTION DES DONNEES
La présente Politique de protection des données personnelles peut être amenée à évoluer.
UTILISATION DES COOKIES
Ce site utilise Google Analytics, un outil d’analyse d’audience des sites Web fourni par Google Inc. (Google). Google Analytics utilise des cookies qui sont des fichiers stockés dans votre navigateur pour permettre d’analyser l’utilisation du site par ses utilisateurs.<p>

<h3>ARTICLE 7 : Responsabilité et force majeure</h3>

<p>Les sources des informations diffusées sur le site sont réputées fiables. Toutefois, le site se réserve la faculté d’une non-garantie de la fiabilité des sources. Les informations données sur le site le sont à titre purement informatif. Ainsi, l’Utilisateur assume seul l’entière responsabilité de l’utilisation des informations et contenus du présent site.
L’Utilisateur s’assure de garder son mot de passe secret. Toute divulgation du mot de passe, quelle que soit sa forme, est interdite.
L’Utilisateur assume les risques liés à l’utilisation de son identifiant et mot de passe. Le site décline toute responsabilité.
Tout usage du service par l’Utilisateur ayant directement ou indirectement pour conséquence des dommages doit faire l’objet d’une indemnisation au profit du site.
Une garantie optimale de la sécurité et de la confidentialité des données transmises n’est pas assurée par le site. Toutefois, le site s’engage à mettre en œuvre tous les moyens nécessaires afin de garantir au mieux la sécurité et la confidentialité des données.
La responsabilité du site ne peut être engagée en cas de force majeure ou du fait imprévisible et insurmontable d’un tiers.</p>

<h3>ARTICLE 8 : Liens hypertextes</h3>

<p>De nombreux liens hypertextes sortants sont présents sur le site, cependant les pages web où mènent ces liens n’engagent en rien la responsabilité de www.elix-lsf.fr qui n’a pas le contrôle de ces liens.
L’Utilisateur s’interdit donc à engager la responsabilité du site concernant le contenu et les ressources relatives à ces liens hypertextes sortants.</p>

<h3>ARTICLE 9 : Évolution du contrat</h3>

<p>Le site se réserve à tout moment le droit de modifier les clauses stipulées dans le présent contrat.</p>

<h3>ARTICLE 10 : Durée</h3>

<p>La durée du présent contrat est indéterminée. Le contrat produit ses effets à l’égard de l’Utilisateur à compter de l’utilisation du service.</p>

<h3>ARTICLE 11 : Droit applicable et juridiction compétente</h3>

<p>La législation française s’applique au présent contrat. En cas d’absence de résolution amiable d’un litige né entre les parties, seuls les tribunaux de Lille sont compétents.</p>

<h3>ARTICLE 12 : Publication par l’Utilisateur</h3>

<p>Le site permet aux utilisateurs membres de mettre en ligne des vidéos, de créer un pseudonyme et ajouter un avatar.
Le site exerce une modération a posteriori sur les publications et se réserve le droit de refuser leur mise en ligne, sans avoir à s’en justifier auprès du membre.
Le membre reste titulaire de l’intégralité des vidéos qu’il a publiées sur Elix. Mais en publiant une vidéo sur le site, le membre cède à Signes de sens le droit non exclusif et gratuit de représenter, reproduire, adapter, modifier, diffuser et distribuer sa vidéo sans aucune modification autre que celles techniques de type format de compression ou équivalent, directement ou par un tiers autorisé, dans le monde entier, sur tout support (numérique ou physique), pour la durée de la propriété intellectuelle. Le Membre cède notamment le droit d’utiliser sa publication sur internet et sur les réseaux de téléphonie mobile.
Dès lors que le membre rend accessible sa vidéo à d’autres utilisateurs (individuellement ou par groupe), il concède à chaque utilisateur le droit non exclusif, à titre gratuit, et pour le monde entier, d’accéder à la vidéo via le site Elix ou d’autres supports de communications électroniques (notamment les téléphones mobiles) dans la mesure autorisée par les fonctionnalités du site Elix et par les présentes CGU, et ce, pendant toute la durée de l’hébergement de la vidéo sur Elix. Si le membre souhaite donner une autre exploitation, notamment commerciale, au contenu d’un autre utilisateur, il appartient au membre préalablement d’obtenir de celui-ci les autorisations nécessaires.
Le membre est par ailleurs informé que, compte tenu des caractéristiques intrinsèques de l’internet, les données transmises, notamment la publication de vidéos, ne sont pas protégées contre les risques de détournement et/ou de piratage, ce dont nous ne saurions être tenus responsables. Il appartient au membre, le cas échéant, de prendre toutes les mesures appropriées de façon à protéger ces données.</p>

{% endblock %}