{% extends 'base.html.twig' %}

{% block content %}

<h1>Qui sommes-nous</h1>

<p>Nous sommes Houessou, Jordan, Ismael et Malik, quatre élèves en formation aux Mureaux, au centre de formation Webforce3 dans les Yvelines.
Pour notre projet de fin de formation, nous avons décider de créer un dictionnaire participatif sur la langue des signes afin d'ouvrir cet apprentissage au plus grand nombre par des vidéos et des images simples permettant de comprendre chaque mot taper dans la barre de recherche.
Le but de notre site est de toucher le maximum de personnes handicapés ou non permettant d'acquérir du vocabulaire et un enrichissement personnel.</p><br>
<p>Nous voulons sensibiliser les personnes à la langue des signes.</p>
{% endblock %}