{% extends 'base.html.twig' %}


{% block content %}

{# <h1 class="text-center text-primary">{{ app.user.terme }}</h1>
<p>{{ app.user.definition }}</p>

<div><iframe>  </iframe></div>

<p>{{ app.user.dateUpload }}</p> #}
<div class="row">
    
    <div class="col-md-6 offset-3"><h1>Définition :<small> Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt expedita natus, beatae numquam magni soluta corporis eveniet saepe perferendis reprehenderit repellat odit! Consequuntur, sequi veniam dolorum nemo eveniet quos numquam?</small></h1></div>
    
</div>

<div class="d-flex justify-content-center">
<div class="embed-responsive embed-responsive-16by9 col-md-6">
    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/zpOULjyy-n8?rel=0"></iframe>
</div>
</div>

<div class="col-md-6 offset-3">
    <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
    <label class="form-check-label" for="inlineCheckbox1">J'ai compris</label>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="display-flex">
    <span class="fa fa-star checked"></span>
    <span class="fa fa-star checked"></span>
    <span class="fa fa-star checked"></span>
    <span class="fa fa-star"></span>
    <span class="fa fa-star"></span>
  </div>
</div>
  <div class="col-md-6 offset-3">
    <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
    <label class="form-check-label" for="inlineCheckbox2">Je n'ai pas compris</label>
    <div class="col-md-6 offset-6">
      <SCRIPT LANGUAGE="JavaScript">
    var maintenant=new Date();
    document.write(maintenant);
    </SCRIPT>
    </div>    
  </div>




{% endblock %}