{% extends 'base.html.twig' %}


{% block content %}


<h1>Bonjour toto </h1>


<div class="wrap">
   <div class="search">
      <input type="text" class="searchTerm" placeholder="what do you want bro?">
      <button type="submit" class="searchButton">
        <i class="fa fa-search"></i>
     </button>
   </div>
</div>

{% endblock %}
