{% extends 'base.html.twig' %}


{% block content %}

<h1 class='text-center text-primary pt-5'> Bibliotheque </h1>

<div class='row ml-5 mr-5 mt-5 mb-5 pb-5 '>
  <table class="table table-primary text-center">
    <tr>
        <thead class="thead" >
            <tr>
                <th scope="col">les mots disponible dans le dictionnaire dans l'ordre alphabétique</th>
            </tr>
        </thead>
    </tr>
    <tr >
        {% for def in definition %}
            <td class="list-group-item"> <a href='{{ path('definition',  {id : def.id}) }}'>{{def.terme}}</a></td>
        {% endfor %}
    </tr>
  </table>
</div>

{% endblock %}