{% extends 'base.html.twig' %}


{% block content %}

<h1> Bibliotheque </h1>

 <div class='row ml-5 mr-5 mt-5 mb-5 pb-5 '>
 <ul class="list-group list-group-flush">
{% for def in definition %}

 

  <li class="list-group-item">{{def.terme}}</li>




{% endfor %}
</ul>

</div>

{% endblock %}