	{% extends 'base.html.twig' %}


{% block content %}
<div class="d-flex justify-content-center">
    <h1>Connexion</h1>
</div>	
	
	<form method="post" action="{{ path('connexion_check') }}">
	
		<div class="col-md-6 offset-3">
			<input type="text" class="form-control" name="_username" value="" placeholder="Pseudo" />
		</div>
		
		<div class="col-md-6 offset-3">
			<input type="password" class="form-control" name="_password" placeholder="Mot de passe" />
		</div>
		
		<div class="d-flex justify-content-center">
			<input type="submit" class="btn btn-primary" value="Connexion"/>
		</div>
	</form>	

    	

{% endblock %}
