body{
    overflow-x:hidden;

}
.container-fluid
{
margin: 0!important;
padding:0;
height:auto;
}
img
{
padding:0vh!important;
}
.taille
{
    justify-content: space-between
}
.nav-item
{
    color:white;
}
li{
    list-style: none;
    
}
a
{
color:rgb(255, 255, 255);
}
a:hover
{
color:rgba(255, 255, 255, 0.486);
}
header
{
    height:auto;
    margin:0 auto;
    width:100%;
}
img
{
   
    padding:2vh;
}
.navbar-collapse
{
    justify-content: center;
}
.fond
{
    background-image:url('../image/image-isma.png');
    height:85vh;
    background-size:cover;
}
.input-group.md-form.form-sm.form-1 input{
    border: 1px solid #ffffff;
    border-top-right-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
    padding-top:25px;

    
}
.md-form
{
    margin-top: 0;
}


input-group md-form form-sm form-1 pl-0
{
    padding-top:25px!important;
}

hr.style2 {
	border-top: 3px double #8c8b8b;
}
a.cool:hover{
    color: white;
    transition: 1s;
transform: scale(1.1);


}
td a{
    font-size: 1.5em;  
}
td a:hover{
    color: #6faeed;
}
p .taille1{
    font-size: 1.3em;
}
a.cool2{
    color: #4285F4;

}
#map{ /* la carte DOIT avoir une hauteur sinon elle n'apparaît pas */
    height:500px;
    width: 75%;
    padding-top: 10vh; 
    margin: auto;
}
@media (min-width: 200px) { 
    

    video{
        width: 250px;
        margin-left: 50px;
    }
    div.haa{
        height: auto
    }

 }
 @media (min-width: 350px) { 
    

    video{
        width: 250px;
        margin-left: 30px;
        margin-top: 10px;
    }

 }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { ... }