.container-fluid
{

margin: 0!important;
padding:0;
height:100vh;
}
.taille
{
    justify-content: space-between
}
.nav-item
{
    color:white;
}

header
{
    height:90vh;
    margin:0 auto;
    width:100%;
}
img
{
   
    padding:2vh;
}
.navbar-collapse
{
    justify-content: center;
}
.fond
{
    background-image:url('img/image-isma.png');
    height:100vh;
    width:100%;
    background-size:cover;
}
.input-group.md-form.form-sm.form-1 input{
    border: 1px solid #ffffff;
    border-top-right-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
    padding-top:25px;
    
}
.md-form
{
    margin-top: 0;
}

input-group md-form form-sm form-1 pl-0
{
    padding-top:25px!important;
}
